.container {
    margin:0 auto;
    height: 500px;
    width: 35%;
    background: url(stop_wat.jpg);
    background-repeat: no-repeat;
    background-size: 450px 400px;
    color: darkblue;

}

#display {
    width: 100%;
    font-size: 55px;
    font-weight: bold;
    margin-top: 60px;
    padding-top: 199px;
    text-align: center;
    margin: 0px auto;
}


.buttons {
    text-align: center;
    color: darkblue;
}

#startStop,#reset {
    color: yellow;
    background-color: violet;
    border-radius: 50%;
    height: 30px;
    width: 50px;
}

